!!!
%html
%head
  %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0;"}
  %title Prandtl'y forum
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  %link{rel: 'stylesheet',href: 'https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css', type:'text/css'}
  %link{ rel: 'stylesheet',href: 'https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400italic&subset=latin,cyrillic', type:'text/css'}
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  .wrapper
    %p.notice= notice
    %p.alert= alert

  %header
    #logo
      %p= link_to "Prandtl'y Forum", root_path
  %nav
    %ul
      -if user_signed_in?
        %li
          = link_to "New Post", new_post_path
        %li
          = link_to "Sign Out", destroy_user_session_path, :method => :delete
      -else
        %li
          = link_to "Sign Up", new_user_registration_path
        %li
          = link_to "Sign In", new_user_session_path


  .wrapper
    .white_back
      =yield
